/**
 * Mask Component Style for tingle
 * @author fushan
 * @maintainer quanyun.mqy
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tMask
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  display none
  &.visible
    display block

