/**
 * Mask Component Style for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tMask
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display none
    opacity 0
    -webkit-animation-duration 200ms
    -webkit-animation-fill-mode forwards
    &.fadeIn
        -webkit-animation-name _tempFadeIn
    &.fadeOut
        -webkit-animation-name _tempFadeOut

// 临时性的
@-webkit-keyframes _tempFadeIn
    from
        opacity 0
    to
        opacity 1
@-webkit-keyframes _tempFadeOut
    from
        opacity 1
    to
        opacity 0
