/**
 * Mask Component Style for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tMask
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display none
    opacity 0
    -webkit-transition all 200ms
    transition all 200ms
    &.visible
        display block
